{% set import_form_id = 'importYarnForm' %}
{% set import_action = '/yarn/import' %}
{% set import_url_label = _('Yarn URL') %}
{% set import_url_placeholder = _('e.g. https://www.garnstudio.com/yarn.php?id=...') %}
{% set import_url_value = yarn.link if yarn and yarn.link else '' %}
{% set import_description = _("Paste a URL from a yarn shop, manufacturer, or Ravelry. We'll try to extract all the details for you.") %}
{% set import_analyzing_description = _('We are analyzing the source and extracting yarn details. This usually takes 10-20 seconds.') %}
{% set import_storage_key = 'importedYarnData' %}
{% set import_redirect_url = '/yarn/new' %}
{% set import_populate_fn = 'populateYarnForm' %}
{% set import_project_id = none %}
{% set import_use_ai = false %}
{% set import_ai_notice = '' %}
{% include "shared/_import_dialog.html" %}
