stricknani/static/vendor/
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
build/
dist/
node_modules/
media/
*.db
**/*.html
**/*.yaml
**/*.yml
**/*.md
stricknani/alembic/
# Jinja2 templates
stricknani/templates/
