{% macro primary(text, href=None, icon=None, type='button', class='', attrs='') %}
{% set base_classes = "md3-button md3-button--filled" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</button>
{% endif %}
{% endmacro %}

{% macro danger(text, href=None, icon=None, type='button', class='', attrs='') %}
{% set base_classes = "md3-button md3-button--destructive" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</button>
{% endif %}
{% endmacro %}

{% macro secondary(text, href=None, icon=None, type='button', class='', attrs='') %}
{% set base_classes = "md3-button md3-button--outlined" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</button>
{% endif %}
{% endmacro %}

{% macro favorite(text, href=None, icon=None, type='button', class='', attrs='') %}
{% set base_classes = "md3-button md3-button--outlined md3-button--favorite" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</button>
{% endif %}
{% endmacro %}

{% macro favorite_menu_item(text, icon=None, attrs='') %}
<button type="button" class="md3-menu-item" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-lg"></span>{% endif %}
    {{ text }}
</button>
{% endmacro %}

{% macro back(text, href=None, class='', attrs='') %}
{% set base_classes = "md3-button md3-button--text md3-button--small" %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    <span class="mdi mdi-arrow-left text-lg"></span>
    {{ text }}
</a>
{% endmacro %}

{% macro back_circle(href, label=None, attrs='') %}
<a href="{{ href }}" class="md3-button md3-button--icon md3-button--text md3-button--small" aria-label="{{ label or _('Back') }}"
    {{ attrs|safe }}>
    <span class="mdi mdi-arrow-left text-xl"></span>
</a>
{% endmacro %}

{% macro ghost(text, href=None, icon=None, type='button', class='', attrs='') %}
{% set base_classes = "md3-button md3-button--text" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" {{ attrs|safe }}>
    {% if icon %}<span class="mdi {{ icon }} text-xl"></span>{% endif %}
    <span>{{ text }}</span>
</button>
{% endif %}
{% endmacro %}

{% macro fab(icon, href=None, type='button', label='', class='', attrs='') %}
{% set base_classes = "md3-mobile-fab md3-button md3-button--fab md3-button--filled" %}
{% if href %}
<a href="{{ href }}" class="{{ base_classes }} {{ class }}" aria-label="{{ label }}" {{ attrs|safe }}>
    <span class="mdi {{ icon }} text-2xl"></span>
</a>
{% else %}
<button type="{{ type }}" class="{{ base_classes }} {{ class }}" aria-label="{{ label }}" {{ attrs|safe }}>
    <span class="mdi {{ icon }} text-2xl"></span>
</button>
{% endif %}
{% endmacro %}
