name: Nix Lint

on:
  push:
    branches: [main]
    paths:
      - "**/*.nix"
  pull_request:
    branches: [main]
    paths:
      - "**/*.nix"

jobs:
  statix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run statix
        run: nix run nixpkgs#statix -- check .
