name: Nix Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v24
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run nix flake check
        run: nix flake check

      - name: Build with Nix
        run: |
          nix build
          tree result

      - name: Build Nix container
        run: |
          nix build '.#stricknani-docker'
          tree result
