name: Nix Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install just
        uses: extractions/setup-just@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Run nix flake check
        run: nix flake check

      - name: Build with Nix
        run: just build-nix

      - name: Build Nix container
        run: just build-container
